*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

ul,ol{
	list-style:none;
}

nav a {
	text-decoration:none; 
	color: black;	
	position:relative;
	left:725px;
	
	
	}
	
a {
	text-decoration:none; 
	color: black;	
}

header{
	text-align:center;
	
}
header h1{
	font-size:30px;
	padding:10px;
}




header h4{
	font-size:15px;
	padding:9px;
	color:white;
}

nav li {
	display:inline-block;
	padding:30px;
}

nav a {
	padding:20px;
}

nav a:hover{
	background-color:grey;
	color:white;
}

section{width:33.33%;
		float:left;
 }

main:after{
	content:"";
	display:table;
	clear:both;
}

footer{
	text-align:center;
	padding:10px;
}

article{
	background-color:grey;
	margin-left:12px;
	margin-bottom:3px;
	border-radius:15px;
	padding:15px;
}

article .content{
	position:relative; 
	padding-left:125px}


article img{
	width:120px;
	height:120px;
	}

article figcaption{
	text-align:left;
	font-size:10px;
}

article footer{
	text-align:right;
	padding-right:100px;
}
