
/* 
    Created on : 28-11-2020
    Author     : Abel Dominguez
   
*/
@font-face {
   font-family: 'Arial';
   src: url('../Fonts/arial_narrow_7.ttf');
}

h1{
	color:#FF4500;
	background-color:#ffb84d;
	font-family:Arial;
}

body{
	background-image:url(../images/Le_petit_prince.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-right:300px;
}

p{
	color:green;
	background-color:lightblue;
	font-family: Arial, Helvetica, sans-serif;
	}

.static{
	border:1px red solid ;
}

.relative{
	border:1px #E9967A dotted;
}

.fixed{
	border:1px green dashed;
	background-color:#ffbf80;
	position:fixed;
	bottom:30px;
	right:30px;
	width:250px;
}

.relative1{
	position:relative;
	border:2px #00b300 solid;
	width:400px;
	height:150px;
}

.absolute1{
	border:1px #4dff4d solid;
	position: absolute;
	top:50%;
	left:50%;
	
}

.sticky{
	position:sticky;
	top:0;
	color:white;
	background-color:green;
	text-align:center;
	font-size:15px;
	border-radius:30px;
}

.relative1 .img1{
	position:absolute;
	width:150px;
	opacity:0.5

}
.relative1 p{
	position:absolute;
	z-index:1;
	background-color:transparent;
	
}

.container{
	position:relative;
	border:1px purple solid;
}

.topleft{
	position:absolute;
	top:1%;
	left:1%;
	z-index:1;
	border:3px purple solid;
	background-color:orange;
	color:purple;
	padding:6px;
}

.topright{
	position:absolute;
	top:1%;
	right:1%;
	z-index:1;
	border:3px purple solid;
	background-color:orange;
	color:purple;
	padding:6px;
}


.center{
	position:absolute;
	top:50%;
	left:50%;
	z-index:1;
	border:3px purple solid;
	background-color:orange;
	color:purple;
	padding:6px;
}


.bottomleft{
	position:absolute;
	bottom:1%;
	left:1%;
	z-index:1;
	border:3px purple solid;
	background-color:orange;
	color:purple;
	padding:6px;
}


.bottomright{
	position:absolute;
	bottom:1%;
	right:1%;
	z-index:1;
	border:3px purple solid;
	background-color:orange;
	color:purple;
	padding:6px;
}
}
