*{
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}

.menuIzquierda{
	background-color:grey;
	width:36%;
	max-width:360px;
	display:inline-block;
	float: left;
	height:920px;
}

.plantillaDerecha{
	background-color:#ffe066;
	width:62%;
	display:inline-block;
	float: left;
	height:920px;
	border:2px black solid;
}

.datosPersona i{
	float:left;
	font-size:35px;

}

.imagenYTexto{
	text-align:center;
	padding:25px;
}

.imagenYTexto img{
	width:90px;
}

.imagenYTexto p{
	color:white;
	font-size:7px;
	padding-top:15px;
}

.datosPersona{
	padding:9px;
	padding-left:60px;
}

.datosPersona h2{
	font-size:15px;
	font-weight:bold;
	letter-spacing:2px;
}

.datosPersona p{
	font-size:12px;
}

.experiencia{
	border:2px black solid;
	padding:25px;
	margin:25px;

}

.experienciaIzquierda{
	border:2px black solid;
	width:25%;
	padding:5px;
	display:inline-block;
	vertical-align:top;
}

.experienciaIzquierda div{
	padding-bottom:15px;
}

.experienciaIzquierda h2{
	font-size:14px;
}

.nombreEmpresa {
	color:blue;
	text-transform:uppercase;
	font-size:12px;
}

.fecha{
	font-size:15px;
}

.experienciaDerecha{
	border:2px black solid;
	display:inline-block;
	width:50%;
	margin-left:30px;
	
}

.plantillaDerecha i{
	font-size:25px;
	padding-top:9px;
	padding-left:9px;
}

.experienciaDerecha h2{
	font-size:15px;
}

.experienciaDerecha ul{
	margin-left:30px;

}

.experienciaDerecha i{
	font-size:12px;

}

.datos{
	padding:10px;
	padding-left:70px;
}

.datos i{
	font-size:12px;
}

.borde{
	border-top:1px blue dotted;
	width:80%;	
}

.borde i{	
	font-size:25px;
}

.menuIzquierda i{
	font-size:25px;
	color:white;
	background-color:black;
	width:30px;
	height:30px;
	text-align:center;
	border-radius:50%;
	align-items:center;
	
}
